
#list {
    display: flex;
    justify-content: space-between;
}
.li-item {
    display: flex;
    flex-direction: column;
}
.image-item {
    height: 100px;
}

.posts {
    background-color: darkmagenta;
    padding: 20px;
    color: #fff;
    margin-bottom: 20px;
}

.overlay {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color:darkblue;
    color: #fff;
    display: none;
}
.overlay.active {
    display: block;
}
.close {
    position: absolute;
    top:30px;
    right: 30px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}


/* add post */
.add-post {
    width: 40px;
    height: 40px;
    background-color: chartreuse;
    position:fixed;
    right: 30px;
    bottom: 50px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.overlay-add {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: darkgray;
    display: none;
}
.overlay-add.active {
    display: block;
}
.post-wraper{
    width: 100%;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-column-gap:35px;
    grid-row-gap:30px;
 
  
}

.posts{
    width: 180px;
    height: 220px;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
    display: flex;
    flex-direction: column;
}
.del-button{
background-color: brown;
h

}
.del-button:hover{
background-color: aqua;
}
h3{
    top: 200px;
}
#addFormPost{
    background-color: aqua;
    width: 150px;
    margin-top: 10px;
}
#form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.descr{
    margin-top: 10px;
}